<div id="<%= dom_id post_country %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Country name:</strong>
    <%= post_country.country_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Favorite food:</strong>
    <%= post_country.favorite_food %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Favorite excursion:</strong>
    <%= post_country.favorite_excursion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of arrival:</strong>
    <%= post_country.date_of_arrival %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of departure:</strong>
    <%= post_country.date_of_departure %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= post_country.comment %>
  </p>

</div>
